{{#partial "head"}}
    <link href="/css/recipe-detail.css" rel="stylesheet">
{{/partial}}

{{#partial "contents"}}
    {{#recipe}}
        <div class="section recipe" data-recipe-id="{{id}}">
            <div class="container">
                <h1 class="title is-1 has-text-centered one-line-ellipsis">{{name}}</h1>
                <div>{{content}}</div>

                {{#recipeSteps}}
                {{> recipe/step btn=false isIncomplete=false}}
                {{/recipeSteps}}

            </div>
        </div>
    {{/recipe}}
{{/partial}}

{{> base}}