{{#recipe}}
    <div class="section recipe" data-recipe-id="{{id}}">
        <div class="container">
            <h1 class="title is-1 has-text-centered one-line-ellipsis">{{name}}</h1>
            <div>{{content}}</div>

            {{> recipe/step top=true id="null" offers=firstOffers}}

            {{#recipeSteps}}
                {{> recipe/step top=false}}
            {{/recipeSteps}}

        </div>
    </div>
{{/recipe}}