<div class="step-container">
    <h2 class="step-title is-size-2 has-text-weight-bold"><i class="fas fa-utensils fa-2x"></i>Step {{@index_1}}</h2>
    {{> recipe/stepBox}}

</div>

{{#unless completed}}
    <div class="step-container">
    {{#if hasAppendOffer}}
        {{> recipe/stepOffer}}
    {{/if}}

    {{> recipe/addBtn id=id}}
    </div>
{{/unless}}
