<div class="step-offers" data-step-id="{{id}}">
    <div class="step-offer-title is-size-2"><i class="fas fa-bong"></i> Step Offers</div>
    {{#offers}}
        <a class="hero is-info step-offer-title-bar">
            <h1 class="title">{{name}} <span
                    class="step-offer-open is-pulled-right"><i class="fas fa-angle-down"></i></span></h1>
        </a>
        {{> recipe/stepBox hidden=true}}
    {{/offers}}
</div>