{{#partial "head"}}
    <link href="/css/user.css" rel="stylesheet">
    <script type="module" src="/js/users/utils.js"></script>
    <script type="module" src="/js/users/login.js"></script>
{{/partial}}

{{#partial "contents"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle has-text-grey">Please login to proceed.</p>
                <div class="box">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id="email-field" type="email" placeholder="Your Email"
                                   autofocus="">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id="password-field" , type="password"
                                   placeholder="Your Password">
                        </div>
                    </div>
                    <button id="login-btn" class="button is-block is-info is-large is-fullwidth">Login</button>
                </div>
                <p class="has-text-grey">
                    <a href="/users/signup">Sign Up</a> &nbsp;·&nbsp;
                </p>
            </div>
            <div id="error-msg-box" class="column"></div>
        </div>
    </div>
</section>
{{/partial}}

{{>base}}