{{#partial "contents"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Sign up</h3>
                <p class="subtitle has-text-grey">Please sign up.</p>
                <div class="box">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id="email-field" type="email" placeholder="Your Email"
                                    autofocus="">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id="password-field" , type="password"
                                    placeholder="Your Password">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id="password-check-field" , type="password"
                                    placeholder="Your Password again">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" id="name-field" , type="text"
                                    placeholder="Your name">
                        </div>
                    </div>
                    <button id="signup-btn" class="button is-block is-info is-large is-fullwidth">Sign up</button>
                </div>
                <p class="has-text-grey">
                    <a href="../">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>
<script src="/js/users/signup.js"></script>
{{/partial}}

{{>base}}

