.navbar {
    box-shadow: 0 2px 0 0 #f5f5f5;
}

.hidden {
    display: none !important;
}

.one-line-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure.image.is-4by3 {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

figure.image.is-4by3 > img {
    /*border: solid #D9D9D9 1px;*/
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
