.card {
    border-radius: 20px;
}

.card-image img {
    border-radius: 20px 20px 0 0 ;
}

.card-content > .tags {
    margin-bottom: 5px;
}

.card-content {
    padding: 0;
}

.card-content-detail {
    padding: 20px;
}

.level-item .subtitle {
    padding: 5px;
    color: #FFF;
    font-weight: bold;
}

.card-content > nav.level {
    border-top: 1px solid #dbdbdb;
}

.completed {
    background: #2a97dc;
    border-radius: 0 0 20px 20px;
}

.incompleted {
    background: #f7c630;
    border-radius: 0 0 20px 20px;
}