.hero {
    box-shadow: 0px 0px 10px 4px rgba(68, 68, 68, 0.6);
    margin-bottom: 50px;
}

.hero.is-large .hero-body {
    padding-bottom: 24rem;
}

.card {
    border-radius: 20px;
}

.card-image img {
    border-radius: 20px 20px 0 0 ;
}

.card-content > .tags {
    margin-bottom: 5px;
}

.card-content {
    padding: 0;
}

.card-content-detail {
    padding: 20px;
}

.level-item .subtitle {
    padding: 5px;
    color: #FFF;
    font-weight: bold;
}

.card-content > nav.level {
    border-top: 1px solid #dbdbdb;
}

.category:hover {
    color: #ff3860;
}

#category-box {
    cursor: pointer;
    padding: 6px 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

#category-nav {
    position: relative;
    background: #222;
    box-shadow: 0px 0px 20px 2px rgba(68, 68, 68, 0.6);
    z-index: 30;
}

.completed {
    background: #333;
    border-radius: 0 0 20px 20px;
}

.incompleted {
    background: #ffaa00;
    border-radius: 0 0 20px 20px;
}
