#glass {
    position: absolute;
    height: 100%;
    width: inherit;
    opacity: 0.2;
    background: #444;
}

.hero {
    position: fixed;
    width: 100%;
    background-size: cover;
    background-image: url("/img/hero-create.jpg");
}

#input-box {
    box-shadow: 0 0 40px #444;
    border-radius: 60px;
}

#input-box input:hover {
    outline-style:none;
    box-shadow:none;
    border: none;
}

#input-box input, #input-box a, #input-box select {
    outline-style:none;
    box-shadow:none;
    border: none;
}

.is-btn-inactive {
    background-color: #EEE;
    color: #CCC;
    cursor: default;
}
.is-btn-inactive:hover {
    color: #CCC;
}

.is-btn-active {
    cursor: pointer;
}