.step-container {
    border: solid #FAFAFA 2px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    box-shadow: 0px 0px 100px 0px rgba(68, 68, 68, 0.3);
}

.step-title {
    margin: 30px;
}

.step-title > i {
    padding: 0px 20px 0px 10px;
}

.step-offer-title-bar {
    margin-top: 10px;
    padding: 10px 20px 10px 50px;
    border: solid #DDD 1px;
    border-radius: 3px 3px 0 0;
}


.step-offers {
    padding: 20px;
    background: #F6F6F6;
    border: #DDD solid 1px;
    border-radius: 3px;
}

.step-offers > .box {
    border-radius: 3px;
}

.step-offers > .step-offer-title {
    font-style: italic;
    font-weight: 500;
    padding-left: 10px;
}

.btn-step-add {
    color: #209cee;
    border: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
    display: block;
    outline: none;
    padding: 40px;
    background: transparent;
    cursor: pointer;
}

.img-upload {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.img-upload + label {
    width: 100%;
    height: 400px;
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    line-height: 400px;
    background: no-repeat center;
    background-size: cover;
}

.img-upload:focus + label,
.img-upload + label:hover {
    color: brown;
}

.box {
    margin-top: -1px;
    box-shadow: none;
    border: #DDD solid 1px;
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
}

.box > .columns {
    padding: 30px;
}

.subtitle {
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.step-img {
    /*border: solid #D9D9D9 1px;*/
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.column.is-one-third {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.subtitle-input {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.step-contents {
    margin-left: 40px;
}

.step-item-contents {
    padding-left: 28px;
}

.step-item {
    padding-top: 28px;
}

.step-contents-container {
    padding: 20px 0 0 10px;
    font-size: 24px;
}

.step-item-container {
    padding-bottom: 10px;
}

.step-item-input-container {
    padding: 4px 5px 20px 15px;
}

.step-item-input-container > input {
}

.step-item-container > button {
    border: none;
    color: #209cee;
}

.step-item-input-container > button {
    border: none;
    color: #209cee;
    padding-left: 10px;
}

.step-article-container {
    overflow: hidden;
}

.btn-step-modify {
    margin: 10px;
    cursor: pointer;
}

.contributors {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height: 120px;
    color: #FFF;
    font-size: 0;
    /*background: #b77272;*/
    background: #4f969d;
    border-radius: 0 0 10px 10px;
}

.contributors-shadow {
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 20px 4px rgba(68, 68, 68, 1);
}

.shadow-wrapper {
    overflow: hidden;
}

.contributor-container {
    overflow: hidden;
    display: inline-block;
}

.contributor {
    width: 100px;
    height: 120px;
    font-size: 16px;
    padding: 10px 4px 4px 4px;
    text-align: center;
    position: relative;
    display: block;
    border-right: dashed #4f849d 2px;
}

.contributor > i {
    margin-top: 18px;
}

.contributor > div {
    font-size: 14px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-contributor {
    background-color: #4f969d;
    border-radius: 0 0 0 10px;
}

.contributor-selected {
    background-color: #4f969d;
}

.contributor-selected:before {
    border-top: 12px solid #FFF;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    content: "";
    position: absolute;
    margin: -14px 10px;
    z-index: 20;
}

.contributor > .approved {
    font-size: 34px;
    width: 80px;
    position: absolute;
    margin: -12px 0 0 -16px;
    color: #ffd800;
}

.btn-step-modify {
    margin: 10px;
    cursor: pointer;
}

#btn-recipe-complete {
    right: 50px;
    bottom: 50px;
    position: fixed;
    border-radius: 10px;
}

.contributor.offer {
    /*background: #d0ba43;*/
    background: #de6b6b;
    border-right: none;
}
