.step-container {
    border: solid #FAFAFA 2px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    box-shadow: 0px 0px 100px 0px rgba(68, 68, 68, 0.3);
}

.step-title {
    margin: 30px;
}

.step-title > i {
    padding: 0px 20px 0px 10px;
}

.step-offer-title-bar {
    margin-top: 10px;
    padding: 10px 20px 10px 50px;
    border: solid #DDD 1px;
    border-radius: 3px 3px 0 0;
}

.step-offers {
    padding: 20px;
    background: #F6F6F6;
    border: #DDD solid 1px;
    border-radius: 3px;
}

.step-offers > .step-offer-title {
    font-style: italic;
    font-weight: 500;
    padding-left: 10px;
}

.btn-step-add {
    color: #209cee;
    border: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
    display: block;
    outline: none;
    padding: 40px;
    background: transparent;
    cursor: pointer;
}

.img-upload {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.img-upload + label {
    width: 100%;
    height: 400px;
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    line-height: 400px;
    background: no-repeat center;
    background-size: cover;
}

.img-upload:focus + label,
.img-upload + label:hover {
    color: brown;
}

.box {
    margin-top: -1px;
    box-shadow: none;
    border: #DDD solid 1px;
    border-radius: 0 0 3px 3px;
}

.subtitle {
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.subtitle-input {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.step-contents {
    margin-left: 40px;
}

.step-item-contents {
    padding-left: 28px;
}

.step-item {
    padding-top: 28px;
}

.step-contents-container {
    padding: 20px 0 0 10px;
    font-size: 24px;
}

.step-item-container {
    padding-bottom: 10px;
}

.step-item-input-container {
    padding: 4px 5px 20px 15px;
}

.step-item-input-container > input {
}

.step-item-container > button {
    border: none;
    color: #209cee;
}

.step-item-input-container > button {
    border: none;
    color: #209cee;
    padding-left: 10px;
}

.step-img {
    /*border: solid #D9D9D9 1px;*/
}

.subtitle {
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.subtitle-input {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.step-contents {
    margin-left: 40px;
}

.step-item-contents {
    padding-left: 28px;
}

.step-item {
    padding-top: 28px;
}

.step-contents-container {
    padding: 20px 0 0 10px;
    font-size: 24px;
}

.step-item-container {
    padding-bottom: 10px;
}

.step-item-input-container {
    padding: 4px 5px 20px 15px;
}

.step-item-input-container > input {
}

.step-item-container > button {
    border: none;
    color: #209cee;
}

.step-item-input-container > button {
    border: none;
    color: #209cee;
    padding-left: 10px;
}

.btn-step-modify {
    margin: 10px;
    cursor: pointer;
}