<!DOCTYPE html>
<html lang="kr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RecipeHub</title>
    <link href="/css/bulma.min.css" rel="stylesheet">
    {{#block "head"}}
    {{/block}}
</head>

<body>
    <div class="navbar is-transparent" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <p class="title">RecipeHub</p>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="button" href="/users/signup">Signup</a>
                    </div>
                    <div class="navbar-item">
                        <a class="button" href="/users/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#block "contents"}}

    {{/block}}
</body>
