<!DOCTYPE html>
<html lang="kr">

{{#block "head"}}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RecipeHub</title>
    <link href="/css/bulma.min.css" rel="stylesheet">
</head>
{{/block}}

{{#block "contents"}}

{{/block}}