<!DOCTYPE html>
<html lang="kr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RecipeHub</title>
    <link href="/css/bulma.min.css" rel="stylesheet">
    <link href="/css/font-awesome-5.2.0.all.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/common.js"></script>
    <script src="/js/recipes/search.js"></script>
    <script src="/js/users/logout.js"></script>
    {{#block "head"}}
    {{/block}}
</head>

<body>
<div class="navbar is-transparent" role="navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/">
                <span class="title navbar-item">RecipeHub</span>
            </a>
        </div>
        <div class="navbar-item is-transparent">
            <div class="field has-addons">
                <p class="control">
                    <input class="input" id="input-search" type="text" placeholder="레시피 이름">
                </p>
                <p class="control">
                    <a class="button btn-search" id="btn-search">
                        검색하기
                    </a>
                </p>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                {{#if user}}
                    <div class="navbar-item">
                        {{user.name}}님 환영!
                    </div>
                    <div class="navbar-item">
                        <button id="logout" class="button">Logout</button>
                    </div>
                {{else}}
                    <div class="navbar-item">
                        <a class="button" href="/users/signup">Signup</a>
                    </div>
                    <div class="navbar-item">
                        <a class="button" href="/users/login">Login</a>
                    </div>

                {{/if}}
            </div>
        </div>
    </div>
</div>
{{#block "contents"}}

{{/block}}
</body>
