{{#partial "head"}}
    <link href="/css/recipe-create.css" rel="stylesheet">
{{/partial}}

{{#partial "contents"}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <section class="hero is-fullheight">
        <div id="glass"></div>
        <div class="hero-body">
            <div class="container">
                <div id="input-box" class="field has-addons has-addons-centered">
                    <p class="control">
                    <span class="is-rounded title is-1 has-text-centered select">
                      <select>
                        <option>치킨</option>
                        <option>양식</option>
                        <option>한식</option>
                      </select>
                    </span>
                    </p>
                    <p class="control is-expanded">
                        <input id="hello" class="box is-rounded input title is-1 has-text-centered" type="text"
                               placeholder="무슨 음식을 만들거예요?">
                    </p>
                    <p class="control">
                        <a class="button is-rounded input title is-1 is-primary">
                            만들기!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{{/partial}}

{{> base}}